<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DemoFramework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:47</td>   <td>164</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:Tests.Login@38c6f217]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:20</td>   <td>-26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:20</td>   <td>-26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:20</td>   <td>-26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:20</td>   <td>-26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:10:20</td>   <td>-26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>23/06/12 17:09:17</td>   <td>-89778</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:Tests.Login@38c6f217]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="e767f3">  <td>23/06/12 17:09:21</td>   <td>-85706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest1()[pri:0, instance:Tests.Login@38c6f217]">loginTest1</td> 
  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="e767f3">  <td>23/06/12 17:09:51</td>   <td>-55705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest2()[pri:0, instance:Tests.Login@38c6f217]">loginTest2</td> 
  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="e767f3">  <td>23/06/12 17:09:57</td>   <td>-49828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest3()[pri:0, instance:Tests.Login@38c6f217]">loginTest3</td> 
  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="e767f3">  <td>23/06/12 17:10:03</td>   <td>-43862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest4()[pri:0, instance:Tests.Login@38c6f217]">loginTest4</td> 
  <td>main@1434234664</td>   <td></td> </tr>
<tr bgcolor="e767f3">  <td>23/06/12 17:10:22</td>   <td>-24036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest5()[pri:0, instance:Tests.Login@38c6f217]">loginTest5</td> 
  <td>main@1434234664</td>   <td></td> </tr>
</table>
